/* Font Type */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

body{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/* Universal Style */
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* nav style */
nav ul{
  display: flex;
  justify-content:space-between;
}
nav ul li {
  list-style: none;
}
nav ul li a{
  text-decoration: none;
  color: black;
}
#awlad{
  font-size: 50px;
  font-weight: 500;
  margin: 50px;
}
#resume{
  border: 2px solid grey;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
  font-size: 35px;
  background-color: rgb(249, 244, 244);
}
/* banner section style */
.banner-container{
  height: 650px;
  background-image: url(../images/Hero-bg.png);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-content h2{
  margin: 20px auto;
  font-size: 40px;
}
.banner-content p{
   font-size: 30px;
}
.banner-content a{
  text-decoration: none;
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 25px;
}
/* web-development section style */
.web-development-container{
  height: 1500px;
  margin: 10px auto;
  background-color: rgb(245, 243, 243);
  width: 1200px;
}
.web-development-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.web-development-content h2{
  margin: 100px auto 50px;
  font-size: 40px;
}
.web-development-content p{
  font-size: 30px;
}
.web-development-card{
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.card-content{
  padding: 50px;
}
.card-content h3{
  margin: 20px 0;
  font-size: 25px ;
}
.card-content p{
  margin: 20px 0;
  font-size: 20px;
}
.card-content button{
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(171, 170, 170);
  color: rgb(255, 255, 255);
  font-size: 15px;
  cursor: pointer;
}
.card-img{
  padding: 50px;
}
/* inspiration section style */
.inspiration-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-top: 100px;
}
.inspiration-container h2{
  font-weight: 600;
  font-size: 45px;
}
.inspiration-container p{
  margin: 20px 0px;
  font-size: 30px;
}
/* target section style */
.target-container{
  margin-top: 100px;
}
.current-target-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.current-target-content h2{
  font-weight: 600;
  font-size: 45px;
}
.current-target-content p {
  margin: 20px 0px;
  font-size: 30px;
}
.current-target-cards{
  display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 300px;
  margin: 0px auto;
}
.current-target-card{
  width: 33.33%;
  margin: 0px 20px;
  border-radius: 10px;
}
.current-target-card img{
  width: 100px;
  margin: 20px 0px;
}
.current-target-card h3{
 font-size: 25px ;
 margin-left: 10px;
}
.current-target-card p{
  margin: 20px 0px;
  font-size: 20px;
  margin-left: 10px;
}
.current-target-card a{
  border-radius: 10px;
  color: black;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
}
#html{
background-color: #e8ad92;
}
#css{
  background-color: #79aaee;
}
#js{
  background-color: #f4e68b;
}
/* support section style */
.support-container{
  height: 300px;
  margin: 100px auto;
  width: 1200px;
  background-image: url(../images/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}
.support-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  color: white;
}
.support-content h2{
  margin: 30px 0;
  font-size: 50px ;
}
.support-content p{
  margin-top: 5px;
  font-size: 25px;
}
.feedback{
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.feedback input[type=text]{
  width: 600px;
  height: 50px;
  font-size: 25px;
  margin: 30px;
  padding: 10px 30px;
  border-radius: 10px;
}
.feedback input[type=button]{
  height: 50px;
  font-size: 25px;
  margin: 30px;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
}
/* footer style */
.footer-container{
  display: flex;
  justify-content:space-between;
}
.footer-content, .footer-icons{  
  margin: 20px 50px;
}
.footer-content  h3{
  padding: 30px;
  font-size: 30px;
}
.footer-icons img{
  width: 80px;
  padding: 20px;
}